<!--My Work Section-->

<section class="no-padding" id="portfolio">
  <div class="container-fluid no-padding">
    <div class="col-lg-4 col-sm-6 no-padding">
      <a (click)="PortfolioModal1.show()" class="portfolio-box" data-toggle="modal">
        <img src="assets/img/portfolio/thumbnails/aitendance.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              iOS | Android | Full Stack Web Development (PHP)
            </div>
            <div class="project-name">
              Aitendance
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 no-padding">
      <a (click)="PortfolioModal2.show()" class="portfolio-box" data-toggle="modal">
        <img src="assets/img/portfolio/thumbnails/sweet-home.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              Android Development
            </div>
            <div class="project-name">
              Sweet Home
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 no-padding">
      <a (click)="PortfolioModal3.show()" class="portfolio-box" data-toggle="modal">
        <img src="assets/img/portfolio/thumbnails/sbta-sela.jpg"
             class="img-responsive"
             alt="Wordpress Development SBTA and SELA website">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              Web Development | UXUI | Wordpress
            </div>
            <div class="project-name">
              Sbta & Sela Website
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 no-padding">
      <a (click)="PortfolioModal4.show()" class="portfolio-box" data-toggle="modal">
        <img src="assets/img/portfolio/thumbnails/projit.jpg"
             class="img-responsive"
             alt="Project Management Agile App Projit">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              Ionic 2 | Angular | Cordova | UXUI
            </div>
            <div class="project-name">
              Projit
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 no-padding">
      <a href="#" class="portfolio-box" data-toggle="modal">
        <img src="assets/img/portfolio/comming-soon-project.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              <!--Category-->
            </div>
            <div class="project-name">
              Project Comming Soon
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 no-padding">
      <a href="#" class="portfolio-box" data-toggle="modal">
        <img src="assets/img/portfolio/comming-soon-project.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              <!--Category-->
            </div>
            <div class="project-name">
              Project Comming Soon
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>



<!--&lt;!&ndash; Portfolio Modal 1 &ndash;&gt;-->
<!--<div bsModal #PortfolioModal1="bs-modal" class="modal fade portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
  <!--&lt;!&ndash;<div class="modal-dialog modal-lg">&ndash;&gt;-->
  <!--<div class="modal-dialog modal-lg">-->
    <!--<div class="modal-content ">-->
      <!--<div class="close-modal" (click)="PortfolioModal1.toggle()" data-dismiss="modal">-->
        <!--<div class="lr">-->
          <!--<div class="rl">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="container ">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-8 modal-container" >-->
            <!--<div class="modal-body ">-->
              <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
              <!--<h2>Aitendance</h2>-->
              <!--<p class="item-intro text-muted">AITendance is an automated attendance marking system which-->
                <!--is an alternative solution to replace manual attendance marking sheet.</p>-->
              <!--<div class="row ">-->
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 align-right">-->
                  <!--<img class="img-responsive img-centered  iawards"-->
                       <!--src="assets/img/iawards-nsw.jpg"-->
                       <!--alt="iAwards National Winner 2016"/>-->
                <!--</div>-->
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 align-left">-->
                  <!--<img class="img-responsive img-centered   iawards"-->
                       <!--src="assets/img/iawards-national.jpg"-->
                       <!--alt="iAwards NSW Winner 2016"/>-->
                <!--</div>-->
              <!--</div>-->

              <!--<img class="img-responsive img-centered"-->
                   <!--src="assets/img/portfolio/aitendance-project.jpg" alt="Aitendance Project">-->

              <!--<div class="row">-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/github.svg" alt="Github">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/jira.svg" alt="Jira Management">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/digital_ocean.svg"-->
                       <!--alt="Digital Ocean Ubuntu 14.04">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/php.svg" alt="PHP 5.6 Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/javascript.svg" alt="Javascript Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/jquery.svg" alt="jQuery Development">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row">-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/android.svg" alt="Android Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/swift.svg" alt="Swift iOS Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/html5.svg" alt="HTML5 Web Design">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/css3.svg" alt="CSS3 Web Design">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/bootstrap.svg" alt="Bootstrap framework">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/xd.svg"-->
                       <!--alt="Adobe XD UXUI Wireframe design and User Testing ">-->
                <!--</div>-->
              <!--</div>-->
              <!--<p>Aitendance started as my final project at the University and ended up as an Award Winner-->
                <!--in the iAwards NSW and National for the year of 2016.-->
                <!--The solution streamlines this process, taking almost all the responsibility from the-->
                <!--teacher – leaving them to focus on the class they are about to teach. Although there-->
                <!--have been other systems with this vision, we believe we have come the closest to true-->
                <!--“automation” that technology has seen thus far.-->
                <!--In our time at college, having our attendance marked was a regular disruptive bottleneck-->
                <!--we, as IT professionals, were confident could be improved through innovation. The time-->
                <!--costs we observed were;-->
              <!--</p>-->

              <!--<h5>-->
                <!--<a href="http://aitendance.com" target="_blank">-->
                  <!--www.aitendance.com-->
                <!--</a>-->
              <!--</h5>-->

              <!--<strong>Media: </strong>-->
              <!--<h6>-->
                <!--<a href="http://www.ait.edu.au/blog/ait-students-win-the-iawards/">AIT Blog running for-->
                  <!--National Award-->
                <!--</a>-->
              <!--</h6>-->
              <!--<h6>-->
                <!--<a href="http://www.ait.edu.au/blog/ait-students-bring-home-the-national-undergraduate-tertiary-prize-from-iawards-nigh">-->
                  <!--AIT Blog National Award-->
                <!--</a>-->
              <!--</h6>-->

              <!--<div class="videoWrapper">-->
                <!--<iframe width="560" height="315"-->
                        <!--src="https://www.youtube.com/embed/IVZwoK-z8Zw?rel=0&amp;showinfo=0"-->
                        <!--frameborder="0"-->
                        <!--allowfullscreen></iframe>-->
              <!--</div>-->
              <!--<ul class="list-inline">-->
                <!--<li>Date: December 2016</li>-->
                <!--<li>Client: AIT</li>-->
                <!--<li>Category: IoT Solutions</li>-->
              <!--</ul>-->
              <!--<a class="btn btn-primary" (click)="PortfolioModal1.toggle()">-->
                <!--<i class="fa fa-times"></i>-->
                <!--Close Project-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Portfolio Modal 2 &ndash;&gt;-->
<!--<div bsModal #PortfolioModal2="bs-modal" class="modal fade portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">-->
  <!--&lt;!&ndash;<div class="modal-dialog modal-lg">&ndash;&gt;-->
  <!--<div class="modal-dialog modal-lg">-->
    <!--<div class="modal-content">-->
      <!--<div class="close-modal" (click)="PortfolioModal2.toggle()" data-dismiss="modal">-->
        <!--<div class="lr">-->
          <!--<div class="rl">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="container ">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-8 modal-container" >-->
            <!--<div class="modal-body">-->
              <!--<h2>Sweet Home</h2>-->
              <!--<p class="item-intro text-muted">House share organiser. The Mobile Application “Sweet Home”-->
                <!--will be created with the main objective of helping people to live in-->
                <!--house shares in harmony with the housemates. Basically the app will organize the tasks-->
                <!--of each housemate, as well as bill payment reminders.</p>-->
              <!--<img class="img-responsive img-centered"-->
                   <!--src="assets/img/portfolio/sweet-home-project-white.jpg" alt="Sweet Home Project">-->

              <!--<div class="row">-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/android_studio.svg" alt="Android Studio IDE">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/android.svg" alt="Android Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/java.svg" alt="Java Android Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/github.svg" alt="Github">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/jira.svg" alt="Jira Management">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/illustrator.svg"-->
                       <!--alt="Adobe Illustrator UXUI Mockups design and User Testing">-->
                <!--</div>-->
              <!--</div>-->
              <!--<p> I've been planning to start design and develop this app for more than a year, but the-->
                <!--idea is much more complex. So when I got a first assessment for mobile development at-->
                <!--Uni,-->
                <!--I thought that could be a good idea to start developing. So this is a first phase of the-->
                <!--project, where will be developed a list of task, simple shopping list, and bills-->
                <!--registration.-->
                <!--The idea of the app started about 2 years ago when I was living in a share house, and-->
                <!--all the housemates had their weekly assigned tasks and there was a roster fixed in the-->
                <!--fridge in a piece of paper.-->
                <!--Would be great if we could have the same in our mobile phones, and with alarms and push-->
                <!--up notifications. As well as for the bills and calculating the amount paid and amount to-->
                <!--be paid. </p>-->
              <!--<p>This is an open source project and you can have a look at the source code-->
                <!--<a href="https://github.com/luizcavalieri/SweetHome">here</a>.-->
              <!--</p>-->
              <!--<a class="btn btn-primary" (click)="PortfolioModal2.toggle()">-->
                <!--<i class="fa fa-times"></i> Close Project-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Portfolio Modal 3 &ndash;&gt;-->
<!--<div bsModal #PortfolioModal3="bs-modal" class="modal fade portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel3" aria-hidden="true">-->
  <!--&lt;!&ndash;<div class="modal-dialog modal-lg">&ndash;&gt;-->
  <!--<div class="modal-dialog modal-lg">-->
    <!--<div class="modal-content">-->
      <!--<div class="close-modal" (click)="PortfolioModal3.toggle()" data-dismiss="modal">-->
        <!--<div class="lr">-->
          <!--<div class="rl">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="container ">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-8 modal-container" >-->
            <!--<div class="modal-body">-->

              <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
              <!--<h2>SBTA & SELA College Website</h2>-->
              <!--<p class="item-intro text-muted">-->
                <!--SBTA & SELA are two colleges in Sydney that belong to the same group called-->
                <!--The Lan-Grove Office Training Centre Pty Ltd. SBTA is a college that offers-->
                <!--vocational courses mostly for international students while SELA is an English-->
                <!--College also focused on international students who are coming to Australia-->
                <!--to learn English.-->
              <!--</p>-->
              <!--<img class="img-responsive img-zcentered" src="assets/img/portfolio/sbta-sela-project.jpg"-->
                   <!--alt="">-->

              <!--<div class="row">-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/wordpress.svg"-->
                       <!--alt="Wordpress Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/php.svg"-->
                       <!--alt="PHP 5.6 Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/mysql.svg"-->
                       <!--alt="Mysql Development and Management">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/html5.svg"-->
                       <!--alt="HTML5 Web Design">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/css3.svg"-->
                       <!--alt="CSS3 Web Design">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/javascript.svg"-->
                       <!--alt="Javascript Development">-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="row">-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/github.svg"-->
                       <!--alt="Github">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/jira.svg"-->
                       <!--alt="Jira Management">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/digital_ocean.svg"-->
                       <!--alt="Digital Ocean Ubuntu 14.04">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/ubuntu.svg"-->
                       <!--alt="Ubuntu 14.04 Management">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/photoshop.svg"-->
                       <!--alt="Photoshop UXUI Mockup Design">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/xd.svg"-->
                       <!--alt="Adobe XD UXUI Wireframe design and User Testing ">-->
                <!--</div>-->
              <!--</div>-->

              <!--<p>-->
                <!--My engagement with SBTA & SELA started on the telephone when they called me to-->
                <!--talk about an opportunity to build their website was to present the proposal for-->
                <!--building and design their new website.-->


              <!--</p>-->
              <!--<p><a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/"></a>-->
              <!--</p>-->
              <!--<a class="btn btn-primary" (click)="PortfolioModal3.toggle()"><i-->
                <!--class="fa fa-times"></i> Close Project-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Portfolio Modal 4 &ndash;&gt;-->
<!--<div bsModal #PortfolioModal4="bs-modal" class="modal fade portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel4" aria-hidden="true">-->
  <!--&lt;!&ndash;<div class="modal-dialog modal-lg">&ndash;&gt;-->
  <!--<div class="modal-dialog modal-lg">-->
    <!--<div class="modal-content">-->
      <!--<div class="close-modal" (click)="PortfolioModal4.toggle()" data-dismiss="modal">-->
        <!--<div class="lr">-->
          <!--<div class="rl">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="container ">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-8 modal-container" >-->
            <!--<div class="modal-body">-->

              <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
              <!--<h2>PROJIT App</h2>-->
              <!--<p class="item-intro text-muted">-->
                <!--Projit App is the mobile version of the PROJIT which is a-->
                <!--Project Management Application that implements concepts and methodologies supported by the-->
                <!--Theory of Constrains (TOC), Critical Chain and Agile.-->
              <!--</p>-->
              <!--<img class="img-responsive img-zcentered" src="assets/img/portfolio/projit-project.jpg"-->
                   <!--alt="">-->

              <!--<div class="row">-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/angular.svg"-->
                       <!--alt="Angular 2 Front End Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/ionic.svg"-->
                       <!--alt="Ionic Cross Platform Mobile Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/typescript.svg"-->
                       <!--alt="Typescript Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/sass.svg"-->
                       <!--alt="SASS Development">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/html5.svg"-->
                       <!--alt="HTML5 Web Design">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/cordova.svg"-->
                       <!--alt="Cordova Cross Platform Mobile Development">-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="row">-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/github.svg"-->
                       <!--alt="Github Continuous Integration and Delivery">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/jira.svg"-->
                       <!--alt="Jira Management">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/digital_ocean.svg"-->
                       <!--alt="Digital Ocean Ubuntu 14.04">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/ubuntu.svg"-->
                       <!--alt="Ubuntu 14.04 Management">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/mysql.svg"-->
                       <!--alt="Mysql Development and Management">-->
                <!--</div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">-->
                  <!--<img class="img-responsive img-centered tech-image"-->
                       <!--src="assets/img/technologies/xd.svg"-->
                       <!--alt="Adobe XD UXUI Wireframe design and User Testing ">-->
                <!--</div>-->
              <!--</div>-->
              <!--<br />-->
              <!--<p>-->
                <!--I started this project in the last year at the University as part of assessment for the subject UX|UI.-->
                <!--So before starting the development, I went through a whole range of researchs, user testings and prototyping.-->
                <!--This project gave me a great exposure and experience on the importance of developing an application or a website for humans.-->

              <!--</p>-->
              <!--<p><a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/"></a>-->
              <!--</p>-->
              <!--<a class="btn btn-primary" (click)="PortfolioModal4.toggle()"><i-->
                <!--class="fa fa-times"></i> Close Project-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Portfolio Modal 5 &ndash;&gt;-->
<!--<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="close-modal" data-dismiss="modal">-->
        <!--<div class="lr">-->
          <!--<div class="rl">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-8 col-lg-offset-2">-->
            <!--<div class="modal-body">-->
              <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
              <!--<h2>Project Name</h2>-->
              <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
              <!--<img class="img-responsive img-centered" src="assets/img/portfolio/escape-preview.png"-->
                   <!--alt="">-->
              <!--<p>Escape is a free PSD web template built by <a-->
                <!--href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page-->
                <!--web template that was designed with agencies in mind. This template is ideal for those-->
                <!--looking for a simple one page solution to describe your business and offer your-->
                <!--services.</p>-->
              <!--<p>You can download the PSD template in this portfolio sample item at <a-->
                <!--href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.-->
              <!--</p>-->
              <!--<a class="btn btn-primary" data-dismiss="modal"><i-->
                <!--class="fa fa-times"></i> Close Project-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Portfolio Modal 6 &ndash;&gt;-->
<!--<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="close-modal" data-dismiss="modal">-->
        <!--<div class="lr">-->
          <!--<div class="rl">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-8 col-lg-offset-2">-->
            <!--<div class="modal-body">-->
              <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
              <!--<h2>Project Name</h2>-->
              <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
              <!--<img class="img-responsive img-centered" src="assets/img/portfolio/dreams-preview.png"-->
                   <!--alt="">-->
              <!--<p>Dreams is a free PSD web template built by <a-->
                <!--href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern-->
                <!--one page web template designed for almost any purpose. It’s a beautiful template that’s-->
                <!--designed with the Bootstrap framework in mind.</p>-->
              <!--<p>You can download the PSD template in this portfolio sample item at <a-->
                <!--href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.-->
              <!--</p>-->
              <!--<a class="btn btn-primary" data-dismiss="modal"><i-->
                <!--class="fa fa-times"></i> Close Project-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
