<!-- Banner -->

<section id="banner" role="main">

  <!--<canvas id="canvasBanner" style="position: absolute; z-index: 10; top: 0px;"></canvas>-->

  <div class="inner" style="z-index: 100;">
    <h2 class="neonEffectBlue">LUIZ CAVALIERI</h2>
    <p>"When you find the work you <strong>LOVE</strong><br/>
      you will never <strong>HAVE to work,</strong> <br/>
      you will just work <strong>because you have fun</strong>."</p>
    <ul class="actions">
      <li>
        <a href="../../../../assets/files/LuizCavalieri_FS-Engineer.docx" target="_blank" class="button special">
          <span class="icon fa-download"></span> Download Resume (DOC)
        </a>
        <a href="../../../../assets/files/LuizCavalieri_FS-Engineer.pdf" target="_blank" class="button special">
          <span class="icon fa-download"></span> Download Resume (PDF)
        </a>
      </li>
      <ul class="icons main-social-media">
        <li>
          <a href="https://github.com/luizcavalieri/" class="icon fa-github">
            <span class="label">Github</span>
          </a>
        </li>
        <li>
          <a href="https://au.linkedin.com/in/luizcavalieri" class="icon fa-linkedin">
            <span class="label">Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/luiz.cavalieri" class="icon fa-facebook">
            <span class="label">Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/LuizCavalieri" class="icon fa-twitter">
            <span class="label">Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/luizcavalieri" class="icon fa-instagram">
            <span class="label">Instagram</span>
          </a>
        </li>
        <li>
          <a href="mailto:luiz@interactivehippo.com.au" class="icon fa-envelope-o">
            <span class="label">Email</span>
          </a>
        </li>
      </ul>
    </ul>
  </div>
  <a href="#one" class="more scrolly">Learn More</a>
</section>
