<!-- Main -->
<article id="main">
  <header id="page-secondary">
    <h2 class="neonEffectBlue">Career Achievements </h2>
    <p>From great results achieved as Project Manager to Enterpreneurship, <br />
      Luiz has always demonstrated extreme passion on what he does.</p>
  </header>



  <section id="two" class="wrapper alt style2">

    <section class="spotlight">
      <div class="image">
        <div class="videoWrapper">
          <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/stp76dOlrhk?rel=0&amp;showinfo=0" frameborder="0"
                  allowfullscreen></iframe>
        </div>
      </div>
      <div class="content">
        <a href="http://iawards.com.au"
           target="_blank"
           style="text-decoration: none; ">
          <h2>
            iAwards Winner <br/>
            NSW and National Winner of 2016
          </h2>
        </a>
        <p>
          iAwards 2016 NSW and National winner with the final project in my Bachelor of IT. After these
          awards I secured a place in the APICTA Awards 2016 held in Taipei, Taiwan where I received a
          Merit recognition. You can find more details of the project on this
          website
          <a href="http://aitendance.com"
             target="_blank">
            http://aitendance.com
          </a>.
        <p>
          <a href="http://www.ait.nsw.edu.au/blog/ait-students-bring-home-the-national-undergraduate-tertiary-prize-from-iawards-night/"
             target="_blank">
            iAwards National - Blog post from AIT
          </a>
          <br />
          <a href="http://www.ait.nsw.edu.au/blog/ait-students-win-the-iawards/"
             target="_blank">
            iAwards NSW - Blog post from AIT
          </a>
        </p>

        <!--</p>-->
        <a href="https://www.iawards.com.au/awards/2016-state-iawards-winners2"
           target="_blank">
          <img class="img-responsive img-centered iawards"
               src="../../../../assets/img/iawards-nsw.jpg"
               alt="iAwards National Winner 2016"/>
        </a>
        <a href="https://www.iawards.com.au/history/2016/winners"
           target="_blank">
          <img src="../../../../assets/img/iawards_2016_NATIONAL_Winner.jpg"
               alt="iAwards National 2016 Winner">
        </a>
      </div>
    </section>
    <section class="spotlight">
      <div class="image"><img src="../../../../assets/img/banner_spotlight_315x560.png" alt=""/></div>
      <div class="content">
        <h2>Freelance Projects</h2>
        <p> Luiz was the responsible for all the aspects of the projects bellow. From the business perspective,
          passing through the design to the development of each one of the projects.</p>
        <span><a target="_blank" href="https://github.com/luizcavalieri/MaestroUXUI">MaestroUXUI - Mobile App Ionic2 framework</a><br/>
                        <a target="_blank" href="https://github.com/luizcavalieri/remOiX">RemitanceOX - Project for Uni using Objective-C</a><br/>
                        <a target="_blank" href="https://github.com/luizcavalieri/AItendance2.0_iOS">AITendance Mobile App - Project for Uni using Swift</a><br/>
                        <a target="_blank" href="http://ait.interactivehippo.com.au/advancedstudio2">AITendance Web App - Project for Uni using PHP</a><br/>
                        <a target="_blank" href="http://techos.interactivehippo.com.au/store/">TechOS - Project for Uni using PHP</a><br/>
                        <a target="_blank" href="https://github.com/luizcavalieri/SweetHome">SweetHome App - Project for Android in Java</a><br/>
                        <a target="_blank" href="https://github.com/luizcavalieri/QuickSurveys">Quick Surveys - Data Driven App developed in C#/ASP.NET</a><br/>
                    </span>
      </div>
    </section>
    <section class="spotlight">
      <div class="image">
        <a href="http://interactivehippo.com.au" target="_blank"><img
          src="../../../../assets/img/the_interactiveh_hippo_section_315x560.png" alt=""/></a>
      </div>
      <div class="content">
        <h2>Entrepreneurship</h2>
        <p>Luiz has started his own business providing web design, web and mobile solutions, and digital
          marketing for small businesses.
          All of the projects were fully prospected, managed and developed by Luiz until September of 2016,
          when he graduated from the Bachelor of IT and started pursuing his dream career as a Software Engineer.</p>
      </div>
    </section>

    <section class="spotlight">
      <div class="image"><img src="../../../../assets/img/prosegur_section_315x560.png" alt=""/></div>
      <div class="content">
        <h2>Process Automation<br/>
          & Business Analysis - HR</h2>
        <p>Successful in the implementation of a HR Online System for the company Prosegur Brazil.
          Acting as
          Project Manager and Business Analyst. Project was achieved in 2 years meting both time,
          and budget
          requirements.</p>
      </div>
    </section>
    <section class="spotlight">
      <div class="image"><img src="../../../../assets/img/janssen_section.png" alt=""/></div>
      <div class="content">
        <h2>Process Automation<br/>
          & Business Analysis - CRM</h2>
        <p>As Business Analyst I was the main responsible for Mapping and Modeling the Processes,
          Testing and
          the Training of a CRM System Project in the company Janssen Cilag Pharmaceutics. The
          project helped
          the sales and marketing teams to
          achieve great agility on its operation.</p>
      </div>
    </section>
    <section class="spotlight">
      <div class="image">
        <a href="http://studentworldedu.com" target="_blank"><img
          src="../../../../assets/img/sw_section_315x560.png"
          alt=""/></a>
      </div>
      <div class="content">
        <h2>Digital Strategy</h2>
        <p>Successful implementation of a digital marketing strategy in the company Student World,
          where
          policies and procedures were implemented for 2015 and 2016.</p>
      </div>
    </section>


  </section>

</article>
