<!-- CTA -->
<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2>Thank you for your time</h2>
      <p>If you have any question or would like more information, feel free to contact me at any time.</p>

      <p>
                    <span class="icon fa fa-phone"
                          style="font-size: 18px; margin-right:5px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
                        +61 468 473 931
                    </span>
      </p>
      <p>
        <a href="mailto:luiz@luizcavalieri.tech">
                        <span class="icon fa fa-envelope"
                              style="font-size: 16px; margin-right:5px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
                            luiz@luizcavalieri.tech
                        </span>
        </a>
      </p>
    </header>
    <ul class="actions vertical">
      <li>
        <a href="../../../../assets/files/LuizCavalieri_FS-Engineer.docx"
           target="_blank"
           class="button special">
          <span class="icon fa-download"></span>
          Download Resume
        </a>
      </li>
      <li>
        <a href="https://au.linkedin.com/in/luizcavalieri"
           target="_blank"
           class="button fit">
          Learn More
        </a>
      </li>
    </ul>
  </div>
</section>
