<mat-sidenav-container>
  <mat-sidenav #sidenav
               mode="over"
               (opened)="events.push('open!')"
               (closed)="events.push('close!')"
               fixedInViewport
               align="end">
    <nav id="nav">
          <a (click)="sidenav.toggle()" class="close"> X </a>
          <div id="menu">
            <ul>
              <li>
                <a routerLink="home"
                   routerLinkActive="menu-active">
                  Home
                </a>
              </li>
              <li>
                <a routerLink="achievements"
                   routerLinkActive="menu-active">
                  Career Achievements
                </a>
              </li>
              <li>
                <a routerLink="experience"
                   routerLinkActive="menu-active">
                  Experience
                </a>
              </li>
              <li>
                <a routerLink="academic"
                   routerLinkActive="menu-active">
                  Academic
                </a>
              </li>
              <li>
                <a href="../../../../assets/files/LuizCavalieri_FS-Engineer.docx">
                  Resume
                </a>
              </li>
            </ul>
          </div>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="sidenav__toggle-container">
      <button (click)="sidenav.toggle()" class="sidenav__toggle-btn">
        <span>Menu</span>
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
    </div>

    <app-header></app-header>

    <router-outlet></router-outlet>

    <app-contact-me></app-contact-me>

  </mat-sidenav-content>
</mat-sidenav-container>



<app-footer></app-footer>
