@import '../assets/sass/libs/_mixins.scss';
@import '../assets/sass/libs/_skel.scss';
@import '../assets/sass/libs/_vars.scss';
@import '../assets/sass/libs/_functions.scss';


@include skel-breakpoints((
  xlarge: '(min-width: 1680px)',
  large: '(min-width: 1280px)',
  medium: '(min-width: 980px)',
  small: '(min-width: 736px)',
  xsmall: '(min-width: 480px)'
));


