<!-- Skills -->

<section id="four" class="wrapper style3 special">
  <div class="inner">
    <header class="major">
      <h2>Technical Skills</h2>
      <p> During this almost 10 years since started working <br/> I could build a strong management
        experience, <br/> and technical skills in a broad variety of technologies and softwares...</p>
    </header>
    <!--<div class="inner">-->

    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <h2>Skill Set <br/>(Graduated)</h2>
        <!-- Green Progress Bar -->
        <div class="progress">
          <div class="progress-bar progress-bar-success"
               role="progressbar"
               aria-valuenow="85"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 60%">
            iOS | Objective-C | Swift | Android
          </div>
        </div>
        <!-- Blue Progress Bar -->
        <!-- Yellow Progress Bar -->
        <div class="progress">
          <div class="progress-bar progress-bar-success"
               role="progressbar"
               aria-valuenow="70"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 80%">
            PHP | Javascript | JQuery | Angular2 | BackBone | HTML5 | CSS3
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
               aria-valuemin="0" aria-valuemax="100" style="width: 70%"> C# | ASP.NET | JAVA | Primefaces
          </div>
        </div>
        <!-- Red Progress Bar -->
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
               aria-valuemin="0" aria-valuemax="100" style="width: 65%"> MySQL | SQL 2012 | PostgreSQL
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning"
               role="progressbar"
               aria-valuenow="55"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 75%">
            GitHub | Bitbucket | Jira |
            SourceTree
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger"
               role="progressbar" aria-valuenow="50"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 80%">
            Agile | Scrum | Kanban
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger"
               role="progressbar"
               aria-valuenow="50"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 45%">
            TDD | BDD | CI/CD
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <h2>Skill Set <br/>(Junior | Mid-Level)</h2>
        <!-- Green Progress Bar -->
        <div class="progress">
          <div class="progress-bar progress-bar-success"
               role="progressbar"
               aria-valuenow="85"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 95%">Microsoft Office Package
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning"
               role="progressbar"
               aria-valuenow="55"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 75%">
            Business Analysis
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning"
               role="progressbar"
               aria-valuenow="55"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 50%">
            Project Management
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning"
               role="progressbar"
               aria-valuenow="55"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 25%">BPM
          </div>
        </div>
        <!-- Blue Progress Bar -->
        <div class="progress">
          <div class="progress-bar progress-bar-info"
               role="progressbar"
               aria-valuenow="80"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 65%">
            Photoshop
          </div>
        </div>
        <!-- Yellow Progress Bar -->
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
               aria-valuemin="0" aria-valuemax="100" style="width: 65%">Adobe Muse
          </div>

        </div>
        <!-- Red Progress Bar -->
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"
               aria-valuemin="0" aria-valuemax="100" style="width: 50%"> Illustrator
          </div>
        </div>
      </div>

    </div>
    <br/>
    <br/>
    <br/>

  </div>
</section>
