section{

  &.skills{


    .skills__grid{
      width: 100%;
      max-width: 1024px;
      flex-direction: row;
      display: flex;

      > div{
        width: 50%;

        //@include breakpoint(small){
        //  width: 100%;
        //}
      }
    }

    .progress{
      width: 100%;
      height: auto;
      margin: {
        bottom: 20px;
      }
    }


    mat-progress-bar{
      margin: {
        bottom: 10px;
      }
    }
  }
}

