<!-- Skills -->

<section id="four" class="wrapper style3 special skills">
  <div class="inner">
    <header class="major">
      <h2>Technical Skills</h2>
      <p> During this almost 10 years since started working <br/> I could build a strong management
        experience, <br/> and technical skills in a broad variety of technologies and softwares...</p>
    </header>
    <!--<div class="inner">-->

    <div class="row skills__grid">

      <div class="skills__row">
        <h2>Skill Set <br/>(Graduated)</h2>

        <div class="progress">
          PHP | Javascript | JQuery | Angular2 | BackBone | HTML5 | CSS3
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="100"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
          iOS | Objective-C | Swift | Android
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="55"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
          C# | ASP.NET | JAVA | Primefaces
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="80"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
          MySQL | SQL 2012 | PostgreSQL
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="65"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
            GitHub | Bitbucket | Jira |
            SourceTree
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="95"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
            Agile | Scrum | Kanban
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="75"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
            TDD | BDD | CI/CD
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="40"
                            color="primary">
          </mat-progress-bar>
        </div>
      </div>

      <div class="skills__row">
        <h2>Skill Set <br/>(Junior | Mid-Level)</h2>

        <div class="progress">
          <br>
          Microsoft Office Package
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="100"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
            Business Analysis
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="75"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
            Project Management
            <mat-progress-bar class="progress-bar"
                              mode="determinate"
                              value="70"
                              color="primary">
            </mat-progress-bar>
        </div>

        <div class="progress">
          BPM
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="45"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
            Photoshop
            <mat-progress-bar class="progress-bar"
                              mode="determinate"
                              value="75"
                              color="primary">
            </mat-progress-bar>
        </div>

        <div class="progress">
          Adobe Muse
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="70"
                            color="primary">
          </mat-progress-bar>
        </div>

        <div class="progress">
          Illustrator
          <mat-progress-bar class="progress-bar"
                            mode="determinate"
                            value="65"
                            color="primary">
          </mat-progress-bar>
        </div>
      </div>

    </div>
    <br/>
    <br/>
    <br/>

  </div>
</section>
