<article id="main">
  <header id="page-secondary">
    <h2 class="neonEffectBlue">Academic Achievements</h2>
    <p>
      During the Bachelor of IT (Mobile Applications Development),
      <br/>Luiz has got outstanding grades reaching a <strong>GPA of 79</strong>.
      <br/>In his graduation ceremony he also
      <br/>got awarded with the <strong>"Dean's Award"</strong>
      <br/>which recognizes the best student
      <br/>in academic, potential and engagement during the 3 years of the degree.
    </p>
  </header>
  <section class="wrapper style3 ">
    <div class="inner">

      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>Course Name</th>
            <th>End Date</th>
            <th>Grade</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Foundation programming</td>
            <td>29/06/2014</td>
            <td>Distinction</td>
          </tr>
          <tr>
            <td>Introduction to Web</td>
            <td>29/06/2014</td>
            <td>High Distinction</td>
          </tr>
          <tr>
            <td>C++</td>
            <td>29/06/2014</td>
            <td>Distinction</td>
          </tr>
          <tr>
            <td>Information systems</td>
            <td>29/06/2014</td>
            <td>Credit</td>
          </tr>
          <tr>
            <td>Database systems</td>
            <td>26/10/2014</td>
            <td>Distinction</td>
          </tr>
          <tr>
            <td>Web design</td>
            <td>26/10/2014</td>
            <td>Distinction</td>
          </tr>

          <tr>
            <td>Enterprise systems (C#/.NET)</td>
            <td>26/10/2014</td>
            <td>Distinction</td>
          </tr>

          <tr>
            <td>Foundation networks</td>
            <td>26/10/2014</td>
            <td>Pass</td>
          </tr>

          <tr>
            <td>Digital Project Management</td>
            <td>28/06/2015</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Introduction to software engineering</td>
            <td>28/06/2015</td>
            <td>Credit</td>
          </tr>

          <tr>
            <td>Discrete Mathematics</td>
            <td>28/06/2015</td>
            <td>Pass</td>
          </tr>
          <tr>
            <td>Java</td>
            <td>28/06/2015</td>
            <td>High Distinction</td>
          </tr>
          <tr>
            <td>Mobile Apps Android (Java)</td>
            <td>25/10/2015</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Cross-platform apps</td>
            <td>25/10/2015</td>
            <td>Distinction</td>
          </tr>

          <tr>
            <td>Advanced Studio 1</td>
            <td>25/10/2015</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Advanced Studio 2</td>
            <td>26/06/2016</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Advanced web</td>
            <td>25/10/2015</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Mobile Apps IOS</td>
            <td>26/06/2016</td>
            <td>High Distinction</td>
          </tr>
          <tr>
            <td>Data Driven Apps (C#/ASP.NET)</td>
            <td>26/06/2016</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Systems analysis and design</td>
            <td>26/06/2016</td>
            <td>Credit</td>
          </tr>

          <tr>
            <td>Mobile Apps iOS</td>
            <td>26/06/2016</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Interface and Experience Design</td>
            <td>23/10/2016</td>
            <td>High Distinction</td>
          </tr>


          </tbody>
          <!--<tfoot>-->
          <!--<tr>-->
          <!--<td colspan="2"></td>-->
          <!--<td>100.00</td>-->
          <!--</tr>-->
          <!--</tfoot>-->
        </table>

        <div class="mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort>

            <!-- Subject Column -->
            <ng-container matColumnDef="subject">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
              <mat-cell *matCellDef="let grade"> {{grade.subject}} </mat-cell>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
              <mat-cell *matCellDef="let grade"> {{grade.date}} </mat-cell>
            </ng-container>

            <!-- Gradde Column -->
            <ng-container matColumnDef="grade">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Grade </mat-header-cell>
              <mat-cell *matCellDef="let grade"> {{grade.grade}} </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

      </div>

    </div>
  </section>
</article>
