<article id="main">
  <header id="page-secondary">
    <h2 class="neonEffectBlue">Academic Achievements</h2>
    <p>
      In the Bachelor of IT (Mobile Applications Development),<br/>
      Luiz has got outstanding grades reaching a GPA of 79<br/>
      and in his graduation ceremony got awarded with the "Dean's Award" which recognizes the best student<br/>
      considering academic, potential and engagement during the whole 3 years of course.
    </p>
  </header>
  <section class="wrapper style3 ">
    <div class="inner">

      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>Course Name</th>
            <th>End Date</th>
            <th>Grade</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Foundation programming</td>
            <td>29/06/2014</td>
            <td>Distinction</td>
          </tr>
          <tr>
            <td>Introduction to Web</td>
            <td>29/06/2014</td>
            <td>High Distinction</td>
          </tr>
          <tr>
            <td>C++</td>
            <td>29/06/2014</td>
            <td>Distinction</td>
          </tr>
          <tr>
            <td>Information systems</td>
            <td>29/06/2014</td>
            <td>Credit</td>
          </tr>
          <tr>
            <td>Database systems</td>
            <td>26/10/2014</td>
            <td>Distinction</td>
          </tr>
          <tr>
            <td>Web design</td>
            <td>26/10/2014</td>
            <td>Distinction</td>
          </tr>

          <tr>
            <td>Enterprise systems (C#/.NET)</td>
            <td>26/10/2014</td>
            <td>Distinction</td>
          </tr>

          <tr>
            <td>Foundation networks</td>
            <td>26/10/2014</td>
            <td>Pass</td>
          </tr>

          <tr>
            <td>Digital Project Management</td>
            <td>28/06/2015</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Introduction to software engineering</td>
            <td>28/06/2015</td>
            <td>Credit</td>
          </tr>

          <tr>
            <td>Discrete Mathematics</td>
            <td>28/06/2015</td>
            <td>Pass</td>
          </tr>
          <tr>
            <td>Java</td>
            <td>28/06/2015</td>
            <td>High Distinction</td>
          </tr>
          <tr>
            <td>Mobile Apps Android (Java)</td>
            <td>25/10/2015</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Cross-platform apps</td>
            <td>25/10/2015</td>
            <td>Distinction</td>
          </tr>

          <tr>
            <td>Advanced Studio 1</td>
            <td>25/10/2015</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Advanced Studio 2</td>
            <td>26/06/2016</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Advanced web</td>
            <td>25/10/2015</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Mobile Apps IOS</td>
            <td>26/06/2016</td>
            <td>High Distinction</td>
          </tr>
          <tr>
            <td>Data Driven Apps (C#/ASP.NET)</td>
            <td>26/06/2016</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Systems analysis and design</td>
            <td>26/06/2016</td>
            <td>Credit</td>
          </tr>

          <tr>
            <td>Mobile Apps iOS</td>
            <td>26/06/2016</td>
            <td>High Distinction</td>
          </tr>

          <tr>
            <td>Interface and Experience Design</td>
            <td>23/10/2016</td>
            <td>High Distinction</td>
          </tr>


          </tbody>
          <!--<tfoot>-->
          <!--<tr>-->
          <!--<td colspan="2"></td>-->
          <!--<td>100.00</td>-->
          <!--</tr>-->
          <!--</tfoot>-->
        </table>
      </div>

    </div>
  </section>
</article>
