<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>Career Objective</h2>
      <p>
        Luiz is a Full Stack Engineer with his strength being in the Front End.
        <br/>Luiz has got also experience in Mobile Development, Business Analysis and Marketing.
        <br/>Strong communications skills, attention to details, enthusiasm and willingness to learn
        <br/>are some of his personal attributes and soft skills.
        <br/>Luiz is a recent graduate of a Bachelor of IT with a major in Mobile Applications Development
        <br/>from the Academy of Information Technology (AIT).
        <br/>Mixing his experience in Business Analysis and Marketing with his knowledge
        <br/>and passion for Web & Mobile Development he can both develop the solutions
        <br/>and find the best approach on the business side of the solution.
      </p>

    </header>

    <ul class="icons major">
      <li><span class="icon fa-mobile-phone major style1"><span class="label">Mobile</span></span>
      </li>
      <li><span class="icon fa-desktop major style2"><span class="label">Web
                    </span></span>
      </li>
      <li><span class="icon fa-code major style3"><span class="label">Coding</span></span>
      </li>
    </ul>
  </div>
</section>
