<!-- Academic Progress -->
<section id="three" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>Academic Achievements</h2>
      <p> In the Bachelor of IT (Mobile Applications Development),
        <br/> Luiz has got outstanding grades reaching a GPA of 79
        <br/>and in his graduation ceremony got awarded with the "Dean's Award" which recognizes
        the best student
        <br/>considering academic, potential and engagement during the whole 3 years of course.
        <br/>Besides of his grades at the Uni, Luiz was also the Team Leader and Web developer of a
        <br/>project developed at the Uni which secured both awards
        <br/><strong>
          iAwards NSW and iAwards Nationals of 2016
        </strong>
        <br/>in the Undergraduate and Tertiary Students category.
        <br/> After these awards Luiz secured a place in the
        <strong>
          APICTA Awards 2016 held in Taipei, Taiwan
        </strong>
        <br/> where he received a Merit recognition.
        <br/> You can find more details of the project on this website
        <a href="http://aitendance.com" target="_blank">http://aitendance.com</a>.

    </header>
    <ul class="actions">
      <li>
        <a href="academic"
           class="button specialBlue">
          <span class="icon fa-graduation-cap"></span> Academic Achievements
        </a>
      </li>
    </ul>
  </div>
</section>
