.sidenav{

  &__toggle{

    &-container{
      display: flex;
      height: 40px;
      //position: fixed;
      right: 0px;
      z-index: 1000;
      width: 134px;
      top: 0;
    }

    &-btn{
      right: 0px;
      top: 0;
      position: fixed;
      z-index: _misc(z-index-base);

    }
  }
}


mat-sidenav{
  width: 20em;
  z-index: 200 !important;
  background: #0da5d7;
}
